
header > .left {
	display: inline-block;
    float: left;
    height: 100%;
}

header > .right {
	display: inline-block;
    float: right;
    text-align: right;
    text-transform: capitalize;
    height: 100%;
    margin-bottom: 3%;
}

.right > .name {
	font-weight: 100;
	font-size: 3em;
	margin: 0px;
}

.right > .post {
	font-weight: 300;
	font-size: 1.5em;
	margin: 0px;
}

.left > .logo {
	max-width: 100%;
    height: auto;
    width: 5em;
}

header > hr {
	clear: both;
	height: 5px;
	background: grey;
}
