

.sidebar {
	width: 5%;
	order: 2;
}

.sidebar-item {
	width: 5%;
}

.sidebar-item > .rectangle {
	width: 70px;
	height: 70px;
	background: red;
}

/*.sidebar-item > */
figcaption {
	/*width: inherit;*/
	/*height: auto;*/
	font-size: 1em;
	margin-bottom: 10px;
    text-align: right;
    /*line-height: 20px;*/
}

